<mat-toolbar class="toolbar" fxLayout="row" fxLayoutAlign="space-between center">
    <div fxLayout="row" fxLayoutGap="20px">
      <button mat-button class="example-icon" routerLink="">
        <span>A</span>
      </button>
      <button mat-button class="example-icon" routerLink="line">
        <span>B</span>
      </button>
    </div>
    <!-- <div *ngIf="router.url === '/'">
    </div> -->
  </mat-toolbar>

<div>
    <!-- <app-chart-holder></app-chart-holder> -->
    <router-outlet></router-outlet>
</div>
