.container{
    padding-bottom: 20px;
}

.chart-container{
    column-gap: 1% ;
}

.status-container{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    .status-box{
        width: fit-content;
        margin: auto;
        padding: 20px;
        text-align: center;
        vertical-align: middle;
        border-radius: 4px;
        p{
            margin: 0 !important;
            font-size: 22px;
            font-weight: bold;
        }
    }
}

.boolean-container{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;

    .boolean-holder{
        margin: auto;
        .boolean-box{
            width: 180px !important;
            width: 80%;
            padding: 20px;
            text-align: center;
            vertical-align: middle;
            border-radius: 4px;
            p{
                margin: 0 !important;
                font-size: 22px;
                font-weight: bold;
            }
        }
    }
}

.action-class{
    background-color: red !important;
    .action-text{
        color: white !important;
    }
}

.action-button-container{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    .action-segment{
        margin: auto;
    }
}

.reload-button-container{
    margin-top: 12px;
    margin-bottom: 12px;
    padding: 5px 20px ;
}