<!-- <app-line-chart [data]="data" ></app-line-chart> -->


<div class="chart-container mat-elevation-z3" fxLayout="row wrap" >

    <div fxFlex="32" class="chart-holder">
        <app-line-chart (animationCompleteEvent)="handleChartLoad($event)" [data]="velocityData" chartType="Velocity" ></app-line-chart>
    </div>

    <div fxFlex="32" class="chart-holder">
        <app-line-chart (animationCompleteEvent)="handleChartLoad($event)" [data]="altitudeData" chartType="Altitude" ></app-line-chart>
    </div>

    <div fxFlex="32" class="chart-holder">
        <app-line-chart (animationCompleteEvent)="handleChartLoad($event)" [data]="temperatureData" chartType="Temperature" ></app-line-chart>
    </div>
    
</div>