<div class="loader-container" *ngIf="loading || chartsLoading">
    <!-- <h1>Loading</h1> -->
    <mat-spinner class="spinner"></mat-spinner>
</div>

<div *ngIf="!loading" [ngClass]="{ 'isHidden' : chartsLoading }" >
    
    <div class="chart-container mat-elevation-z3" >
        <ng-container *ngFor="let data of chartDataArr; index as idx" fxLayout="row wrap">
            <div fxFlex="30" class="chart-holder">
                <app-home-chart (animationCompleteEvent)="handleChartLoad($event)" [barChartData]="data" [yLimit]="limits[idx]" ></app-home-chart>
            </div>
        </ng-container>
    </div>

    <div class="status-container">
        <div class="status-box mat-elevation-z3">
            <p>{{status}}</p>
        </div>
    </div>

    <div class="boolean-container" >
        <div class="boolean-holder" fxLayoutGap.gt-xs="10px" fxLayout="row wrap" fxLayoutAlign="center center">
            <div class="mat-elevation-z3">
                <p>{{ ascending ? 'Ascending' : 'Descending' }}</p>
            </div>
            <div class="mat-elevation-z3">
                <p>{{ actionNeeded ? 'Action is needed' : 'No action needed' }}</p>
            </div>
        </div>
    </div>
</div>

