.loader-container{
    position: absolute;
    width: 100%;
    height: 90vh;
    display: flex;
    .spinner{
        margin: auto;
    }
}

.bar-chart-container{
    padding-bottom: 20px;
}

.chart-container{
    width: 100%;
}

.chart-holder{
    margin: 30px;
}

.reload-button-container{
    margin-top: 12px;
    margin-bottom: 12px;
    padding: 5px 20px ;
}

.status-container{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    .status-box{
        width: fit-content;
        margin: auto;
        padding: 20px;
        text-align: center;
        vertical-align: middle;
        border-radius: 4px;
        p{
            margin: 0 !important;
            font-size: 22px;
            font-weight: bold;
            line-height: 1.2em;
        }
    }
}

.boolean-container{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;

    .boolean-holder{
        margin: auto;
        div{
            margin-bottom: 20px;
            width: 180px !important;
            width: 80%;
            padding: 20px;
            text-align: center;
            vertical-align: middle;
            border-radius: 4px;
            p{
                margin: 0 !important;
                font-size: 22px;
                font-weight: bold;
            }
        }
    }
}

.isHidden{
    opacity: 0;
    overflow: hidden !important; 
}

